@using BusBoard.Api;

@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>
	    @string.Format("{0} closest bus stop(s) to postcode {1}.", @Model.NumberOfStops, @Model.PostCode)
	</p>

    @foreach (BusStopInfo stop in @Model.Stops)
	{
	    <p>
	        @string.Format("Stop {0} - {1} ({2}m away) - {3} buses", stop.Letter, @stop.Name, @stop.Distance, @stop.Buses.Count)
	    </p>
         
        <table>
            <tr>
                <th>Route</th>
                <th>Destination</th>
                <th>ETA</th>
            </tr>
		    @foreach (BusInfo bus in @stop.Buses)
		    {
		        <tr>
                    <td>@bus.RouteNumber</td>
                    <td>@bus.Destination</td>
                    <td>@bus.TimeToArrival</td>
                </tr>
		    }
        </table>
	    <br/>
	}
	

	
</div>
